*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

.container
{
    width: 100vw;
    height: 100vh;
    background: url(./images/bg1.jpg);
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

.content
{
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    color: #fff;
}

.content p
{
    font-size: 35px;
    font-weight: 400;
}

.content h1
{
    font-size: 64px;
    font-weight: 600;
}

.content h1 span
{
    color: #ff3753;
}

.content button
{
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    padding: 12px 25px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-top: 30px;
    cursor: pointer;
}

.content button a
{
    color: #fff;
}

.content button img
{
    width: 15px;
    margin-left: 10px;
}

.madeby button a
{
    background: transparent;
    outline: none;
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.launch-time{
    display: flex;
}

.launch-time div{
    flex-basis: 100px;
}

.launch-time div p {
    font-size: 60px;
    margin-bottom: -14px;
}
